# - Dependencies directory
node_modules/*

# - Compiled directory
dist/*

# - Test directory
coverage/*

# - Editor directories and files
# -- Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# -- JetBrains
.idea/*
