# - Dependencies directory
node_modules/*

# - Compiled output directory
dist/*

# - Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
